    @font-face {
        font-family: 'HouseDecorDemoRegular';
        src: url('../fonts/HouseOfGlory-1GraB.ttf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
    
    * {
        font-family: 'HouseDecorDemoRegular';
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .nav_icon {
        width: 100%;
        height: 103px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 1rem;
        z-index: 999;
        background: white;
    }
    
    .nav_icon img {
        width: 43%;
        position: absolute;
        left: 0;
        top: 50%;
        translate: -21% -50%;
    }
    
    #wrape_document {
        position: relative;
        height: 100vh;
        width: 100%;
        border: 1px solid black;
    }
    
    .con_All {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        transition: all 1s;
        position: relative;
        transform: translateY(-00%);
    }
    
    .title_fir_form {
        font-weight: 600;
        font-size: 22px;
    }
    
    .all_donr_f {
        margin-top: 18px;
        font-weight: 700;
        font-size: 20px;
    }
    
    .apply_now1 {
        position: absolute;
        bottom: 18px;
        width: 89%;
        left: 50%;
        translate: -50%;
        height: 43px;
        border: none;
        background-color: darkblue;
        color: white;
        border-radius: 6px;
        transition: 0.3 all linear;
        text-decoration: none;
    }
    
    .apply_now1:active {
        transition: 0.3 all linear;
        transform: scale(0.9);
    }
    
    .clock_Appllly {
        text-decoration: none;
        color: darkblue;
        position: absolute;
        bottom: 68px;
        left: 50%;
        translate: -50%;
    }
    
    .clock_Appllly i {
        color: black;
    }
    
    .ping {
        --uib-size: 50px;
        --uib-speed: 1s;
        --uib-color: #ffffff;
        position: relative;
        height: var(--uib-size);
        width: var(--uib-size);
    }
    
    .ping::before,
    .ping::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: var(--uib-color);
        animation: pulse7132 var(--uib-speed) linear infinite;
        transform: scale(0);
        opacity: 0;
    }
    
    .ping::after {
        animation-delay: calc(var(--uib-speed) / -2);
    }
    
    @keyframes pulse7132 {
        0% {
            transform: scale(0);
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
    
    #first_spin {
        position: absolute;
        right: 0;
        top: 50%;
        translate: -50% -50%;
    }
    
    .con_All_second {}